<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.best.expense.ExpenseDAO">

	<!-- 지출 내역 -->
	<insert id="addExpense" parameterType="map">
		INSERT INTO expense(form_idx, doc_idx, ex_date, ex_item, description, ex_amount, remark)
			VALUES(#{form_idx}, #{doc_idx}, #{ex_date}, #{ex_item}, #{description}, #{ex_amount}, #{remark})
	</insert>

	<!-- 월별 카테고리 지출 -->
	<select id="categoryList" resultType="map">
		SELECT ex_item AS category, SUM(ex_amount) AS amount
		FROM expense
	    <where>
	        <if test="form_idx > 0">
	            form_idx = #{form_idx}
	        </if>
	    </where>
		GROUP BY ex_item
	</select>
	
	<!-- 일별 지출 -->
	<select id="allCount" resultType="int">
	    SELECT CEIL(COUNT(ex_idx) / #{cnt}) AS pages
	    FROM expense
	    WHERE ex_date LIKE #{ex_date} AND form_idx = #{form_idx}
	</select>
	<select id="dailyList" resultType="map">
	    SELECT ex_date, ex_item, description, ex_amount, remark
	    FROM expense
	    WHERE ex_date LIKE #{ex_date} AND form_idx = #{form_idx}
	    ORDER BY ex_idx DESC 
	    LIMIT #{cnt} OFFSET #{offset}
	</select>
	
	<!-- 연별 지출 차트 -->
	<select id="yearlyList" resultType="map">
		SELECT 
		    MONTH(ex_date) AS month, 
		    form_idx, 
		    SUM(ex_amount) AS total_amount
		FROM 
		    expense
		WHERE 
		    YEAR(ex_date) = #{year}
		GROUP BY 
		    MONTH(ex_date), form_idx
		ORDER BY 
		    month ASC, form_idx ASC
	</select>
</mapper>