<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.best.expense.ExpenseDAO">

	<insert id="addExpense" parameterType="map">
		INSERT INTO expense(doc_idx, ex_date, ex_item, description, ex_amount, remark)
			VALUES(#{doc_idx}, #{ex_date}, #{ex_item}, #{description}, #{ex_amount}, #{remark})
	</insert>

</mapper>