<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.best.emp.LoginDAO">
	<select id="login" resultType="com.best.emp.EmployeeDTO">
        SELECT emp_idx, name, photo
        FROM employee
        WHERE emp_idx = #{id}
          AND password = #{pw}
    </select>
	<update id="updatePassword" parameterType="map">
        UPDATE employee
        SET password = #{pw}
        WHERE emp_idx = #{id}
    </update>
</mapper>  