@charset "UTF-8";

:root { -
	-primary-color: #30005A; -
	-secondary-color: #8B6AA7; -
	-accent-color: #E9396B;
}

.dashboard-body {
	height: auto;
	width: 83%;
	margin-top: 80px;
	margin-left: 300px;
	margin-right: 100%;
}

.messenger-container {
	display: flex;
	height: 79vh;
	color: #fff;
	width: 97%;
	border-radius: 10px;
	margin: 1px 16px 1px 16px;
}

.sidebar {
	width: 28%;
	background-color: #30005A;
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 0 2% 0 0;
	border-radius: 10px;
	overflow-y: auto;
}
.sidebar::-webkit-scrollbar {
	display: none;
}

.sidebar h3 {
	margin: 0;
	text-align: center;
	font-size: 18px;
	margin-bottom: 20px;
}

.chat-window {
	width: 60%;
	display: flex;
	flex-direction: column;
	background-color: #30005A;
	border: 2px solid #30005A;
	border-radius: 10px;
	padding-bottom: 10px;
}

.chat-header {
	font-size: 18px;
	margin-bottom: 10px;
}

.messages {
	position: relative;
	flex-grow: 1;
	overflow-y: auto;
	padding-right: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
}

.messages::-webkit-scrollbar {
	display: none; /* Chrome/Edge에서 기본 스크롤 숨김 */
}

.message {
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 5px;
	max-width: 70%;
	line-height: 1.4;
}

.message.sent {
	background-color: #9a57c6;
	align-self: flex-end;
}

.message.received {
	background-color: #8339a5;
}

.message-input {
	display: flex;
	gap: 10px;
	height: 32px;
	padding: 0 8px;
}

.message-input input {
	flex-grow: 1;
	padding: 10px;
	border-radius: 5px;
	border: none;
	outline: none;
}

.message-input button {
	padding: 5px 16px;
	border-radius: 5px;
	border: none;
	background-color: #30005A;
	color: #FFFBF2;
	cursor: pointer;
	transition: background-color 0.3s;
}

.message-input button:hover {
	background-color: #b06ed5;
}

.tm2 {
	margin-top: 2%;
	width: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 1.5rem;
	gap: 20px;
}

.f32 {
	font-size: 32px;
}

.bold {
	font-weight: bold;
}

.lPurple {
	color: #8B6AA7;
	cursor: pointer;
}

purple {
	width: fit-contet;
}

.chat-item {
	display: flex;
	align-items: center;
	background-color: #FFFBF2;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
	color: #fff;
	transition: background-color 0.3s;
	max-width: 357px;
}

.chat-item:hover {
	background-color: #FFF3D9;
	cursor: pointer;
}

.chat-avatar {
	width: 50px;
	height: 50px;
	border-radius: 20%;
	overflow: hidden;
	margin-right: 10px;
	background-color: #fff; /* 기본 배경 (이미지 없을 때) */
}

.chat-avatar img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.chat-details {
	flex-grow: 1;
}

.chat-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
}

.chat-title {
	font-weight: bold;
	font-size: 16px;
	color: #30005A;
}

.chat-time {
	font-size: 12px;
	color: #8B6AA7;
}

.chat-preview {
	font-size: 14px;
	color: #8B6AA7;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 238px;
	display: flex;
	justify-content: space-between;
}

/* 참여자리스트 */
.member-list {
	width: 100%;
	background-color: #30005A;
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 0 0 0 0;
	border-radius: 10px 10px 0 0;
	height: 92%;
	overflow-y : auto; 
}
.member-list::-webkit-scrollbar {
	display: none;
}

.radio-container span {
	color: #30005A;
	font-size: 14px;
}

.image-label-wrapper {
	display: flex;
	align-items: center;
	background-color: #fdf6e4; /* 배경색 */
	border: 2px solid #30005A; /* 외곽선 */
	border-radius: 10px; /* 둥근 모서리 */
	padding: 5px 10px; /* 내부 여백 */
	width: auto; /* 내용에 맞게 크기 조정 */
	cursor: pointer;
}

.custom-image {
	width: 40px; /* 이미지 크기 */
	height: 40px;
	border-radius: 5px; /* 이미지 둥글게 */
	margin-right: 10px; /* 텍스트와의 간격 */
	display: inline-block;
}

.custom-label {
	color: #30005A; /* 텍스트 색상 */
	font-size: 14px; /* 텍스트 크기 */
	font-weight: bold; /* 텍스트 굵게 */
}

.line-box {
	border: 3px solid #30005A;
	width: 100%;
	display: flex;
	padding: 1% 1% 1% 1%;
	border-radius: 10px;
}

/* 방설정 아이콘들	 */
.footer-menu {
	padding: 10px;
	background-color: #8B6AA7;
	border-radius: 0 0 10px 10px;
	box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
	margin: 0 0 0 0;
	height: 8%;
	display: flow;
}

.footer-menu i {
	font-size: 20px;
	color: white;
	margin: 0 0 0 17%;
	cursor: pointer;
	transition: color 0.3s ease;
}

.footer-menu i:hover {
	color: #E9396B;
}

.footer-menu i:first-child {
	margin-left: auto; /* 첫 번째 아이콘을 왼쪽으로 붙임 */
}

.member-list-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%; /* 부모 컨테이너의 높이 */
	width: 20%;
	margin: 0 0 0 2%;
}
/* 메시지 프로필 css */
/* 채팅 전체 스타일 */
.chat-message {
	display: flex; /* 프로필과 채팅 버블을 나란히 */
	align-items: flex-start; /* 위쪽 정렬 */
	gap: 10px; /* 프로필과 채팅 버블 간격 */
	background-color: #30005A; /* 배경색 */
	padding-bottom: 10px; /* 내부 여백 */
	border-radius: 8px; /* 둥근 모서리 */
	color: #FFF5E2; /* 텍스트 색상 */
	width: fit-content; /* 내용에 맞는 너비 설정 */
}

/* 프로필 이미지와 이름 */
.chat-profile {
	display: flex; /* 프로필 이미지와 이름을 세로로 배치 */
	justify-content: flex-end;
	min-width: 50px; /* 프로필 영역 최소 너비 */
}

.profile-image {
	width: 40px; /* 프로필 이미지 크기 */
	height: 40px;
	background-color: #D9D9D9; /* 회색 배경 */
	border-radius: 10px; /* 원형 모양 */
	border: 2px solid #30005A; /* 테두리 */
}

.profile-name {
	font-size: 12px; /* 이름 글씨 크기 */
	color: #bbb5a6; /* 이름 텍스트 색상 */
	text-align: center;
}

.system-message {
	display: flex;
	justify-content: center;
	background-color: #8B6AA7;
	color: #FFF5E2;
	padding: 4px 10px;
	border-radius: 5px;
	width: fit-content;
	height: fit-content;
	text-align: center; /* 텍스트 중앙 정렬 */
	margin: 5px auto; /* 가로 중앙 정렬 */
	position: relative;
}

/* 채팅 말풍선 컨테이너 */
.chat-bubble-container {
	display: flex;
	align-items: flex-start;
	width: 100%;
	flex-direction: column;
}

.content-div {
	display: flex;
	align-items: flex-end;
}

/* 말풍선 스타일 */
.chat-bubble {
	background-color: #8B6AA7;
	color: #FFF5E2;
	padding: 7px 10px;
	border-radius: 5px;
	font-size: 14px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	position: relative;
	width: fit-content;
	max-width: 300px;
	word-break: break-word;
	min-height: 30px;
	height: fit-content;
	margin: 5px 5px 0 0;
}

/* 채팅 시간 스타일 */
.message-time {
	font-size: 12px; /* 시간 글씨 크기 */
	color: #bbb5a6; /* 시간 텍스트 색상 */
	margin-right: 3px;
}
/* send message css */
.send-messages {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-end;
}

.send-message {
	background-color: #FFF5E2;
	color: #30005A;
	padding: 7px 10px;
	border-radius: 5px;
	font-size: 14px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	position: relative;
	width: fit-content;
	max-width: 300px;
	word-break: break-word;
	min-height: 30px;
	height: fit-content;
	margin: 7px 0 0 5px;
}

.sent-time {
	font-size: 12px;
	color: #bbb5a6;
	margin-left: 3px;
}

#profileModal, #memberModal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* 반투명 검정 */
	z-index: 1000;
}

#memberList {
	list-style: none;
	padding: 0px;
}

#memberList li {
	display: flex;
	justify-content: space-between;
	list-style: none;
}

/* 모달 콘텐츠 */
.modal-content {
	position: fixed;
	background-color: #FFF5E2;
	padding: 10px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	width: 400px;
	max-width: 90%;
	text-align: center;
	height: 500px;
	overflow-y: auto;
}

.modal-content::-webkit-scrollbar {
	display: none; /* Chrome/Edge에서 기본 스크롤 숨김 */
}

/* 닫기 버튼 */
.close {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	font-size: 20px;
	color: #333;
}

.time-and-number {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.time-and-number2 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.number {
	font-size: 12px;
}

.unread-count-list {
	background-color: #E9396B;
	border-radius: 50%;
	width: 20px;
	text-align: center;
}

.unread-message-count {
	color: #FFF5E2;
}

.modal-header {
	padding: 5px !important;
	border-bottom: 0px !important;
}

.modal-header button {
	border: 0px;
	background-color: #FFF5E2;
	color: #6C0F6C;
}

.close-modal {
	font-size: 20px;
	cursor: pointer;
}

.search_bar-container {
	position: relative;
}

.search_bar {
	border: 0px;
	margin-bottom: 1rem;
	width: 100%;
	height: 36px;
	background-color: #d1c4a8e0;
	color: #30005A;
	padding: 5px;
	border-radius: 5px;
}

.search-icon {
	position: absolute;
	right: 8px;
	top: 35%;
	transform: translateY(-50%);
	color: #E9396B; /* 핑크색 */
	font-size: 18px;
	z-index: 1;
	cursor: pointer;
}

search {
	position: relative;
	display: inline-block;
}

.search_bar::placeholder {
	color: #6C0F6C;
}

.search_bar::-webkit-input-placeholder { /* Chrome, Safari, Opera */
	color: #6C0F6C;
}

.radio-container {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.radio-container label {
	display: flex;
	align-items: center;
	cursor: pointer;
	width: 98%;
	justify-content: space-between;
	margin-left: 5px;
}

.radio-container img.custom-image {
	width: 40px;
	height: 40px;
	border-radius: 5PX;
	margin-right: 10px;
}

.radio-container input[type="checkbox"] {
	appearance: none; /* 기본 라디오 버튼 스타일 제거 */
	margin-left: 10px;
	height: 20px;
	width: 20px;
	border: 2px solid #d1c4a8e0; /* 기본 테두리 색상 */
	background-color: #FFF5E2; /* 기본 배경색 */
	border-radius: 50%; /* 원형 라디오 버튼 */
	cursor: pointer;
	position: relative;
	display: inline-block;
}

.radio-container input[type="checkbox"]:checked {
	background-color: #E9396B; /* 체크 시 배경색 */
	border-color: #E9396B; /* 체크 시 테두리 색상 */
}

.radio-container input[type="checkbox"]::after {
	content: '\f00c'; /* Font Awesome check 아이콘 (유니코드) */
	font-family: "Font Awesome 5 Free"; /* Font Awesome 폰트 사용 */
	font-weight: 900; /* 아이콘 굵기 */
	color: #FFF; /* 아이콘 색상 */
	font-size: 14px; /* 아이콘 크기 */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0; /* 기본 상태에서 보이지 않음 */
	transition: opacity 0.2s ease;
}

.radio-container input[type="checkbox"]:checked::after {
	opacity: 1; /* 체크 시 아이콘 표시 */
}
.modal-content {
	position: fixed;
	background-color: #FFF5E2;
	padding: 10px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	width: 400px;
	max-width: 90%;
	text-align: center;
	height: 500px;
	overflow-y: auto;
}

.modal-content::-webkit-scrollbar {
	display: none;
}

#confirmModal .modal-content,
#editChatSubjectModal .modal-content{
    width: 300px !important;
    height: 200px !important;
}
.modal-footer{
	display: flex;
    align-items: center !important;
    justify-content: center !important;
}
.modal-footer button:first-child{
	background-color: #6C0F6C;
	color: #FFF5E2 !important;
}
.modal-footer button:first-child:hover{
	background-color: #981798;
}
.modal-footer button:last-child{
	background-color: #E9396B;
	color: #FFF5E2 !important;
}
.modal-footer button:last-child:hover{
	background-color: #EF7597;
}
#selectedMembersContainer{
	display: flex;
    justify-content: flex-start;
    flex-wrap: wrap; /* 너비 초과 시 다음 줄로 넘기기 */
    gap: 10px; /* 멤버 간격 추가 */
    max-width: 100%; /* 컨테이너의 최대 너비 제한 */
    overflow: hidden;
}
.selected-member-container{
	display: flex;
    flex-direction: column;
}
.selected-member-container span:first-child{
	display: flex;
}
.selected-member{
	font-size: 12px;
}

.profile-header{
	display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}
.profile-header div{
	display: flex;
    flex-direction: column;
    justify-content: center;
}
#profileModal ul{
	width: 100%;
	margin-left: 0px;
	padding: 0px;
}
#profileModal li{
	list-style: none;
	display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    border-bottom: 1px solid #6C0F6C;
}
#profileModal li span:first-child{
	color: #6C0F6C;
	text-align: end;
	width: 15%;
}
#profileModal li span:last-child{
	text-align: start;
	width: 45%;
}
#profileModal .custom-image{
    width: 70px;
    height: 70px;
	
}
#profileModal .modal-content{
	height: 320px !important;
}

.subject-div, .search_bar-container {
	position: relative;
}
#chatSubject {
	border: 0px;
	margin-bottom: 1rem;
	width: 100%;
	height: 36px;
	background-color: #d1c4a8e0;
	color: #30005A;
	padding: 5px;
	border-radius: 5px;
}
.fa-edit {
	position: absolute;
	right: 8px;
	top: 35%;
	transform: translateY(-50%);
	color: #E9396B; /* 핑크색 */
	font-size: 18px;
	z-index: 1;
	cursor: pointer;
}

.chat-notice {
    display: flex;
    justify-content: flex-start; /* 글자 왼쪽 정렬 */
    align-items: center;
    background-color: #8B6AA7;
    color: #FFF5E2;
    padding: 4px 10px;
    border-radius: 5px;
    width: 775px; /* 고정된 너비로 설정 */
    height: fit-content;
    text-align: start;
    overflow: hidden; /* 넘치는 내용을 숨김 */
    white-space: nowrap; /* 한 줄로 표시 */
    text-overflow: ellipsis; /* 넘칠 경우 말줄임표(...) 표시 */
    cursor: pointer; /* 클릭 가능하도록 포인터 추가 */
    transition: height 0.3s ease; /* 애니메이션 효과 추가 */
    box-sizing: border-box; /* padding과 border를 포함한 크기 계산 */
    position: fixed; /* 고정 위치 */
    top: 11rem;
    left: 47rem;
    z-index: 100;
    display: none;
    margin-bottom: 5px;
}

.chat-notice.expanded {
    white-space: normal; /* 줄바꿈 허용 */
    overflow: visible; /* 내용 표시 */
    height: auto; /* 높이 자동 조정 */
}

.chat-notice i{
	margin-right: 10px;
	color: #E9396B;
	font-size: 20px;
}