/* pagination.css */

   .pagination .page-link {
      color: var(--primary-color); /* 글자 색상 */
      background-color: var(--background-color); /* 배경 색상 */
      border: var(--background-color) !important; /* 테두리 */
      font-family: 'Arial', sans-serif; /* 폰트 */
      font-size: 16px; /* 글자 크기 */
      box-shadow: none !important;
   }
   /* 호버 시 스타일 */
   .pagination .page-link:hover {
      font-weight: bold;
      color: var(--accent-color) !important;
      background-color: var(--background-color) !important;
   }
   /* 활성화된 페이지 스타일 */
   .pagination .active .page-link {
      font-weight: bold;
      color: var(--accent-color) !important;
      background-color: var(--background-color) !important;
   }
   /* 클릭 시 생기는 테두리 제거 */
   .pagination .page-link:focus {
     outline: none;
     box-shadow: none; /* 부가적인 그림자 효과도 제거 */
   }
   /* 비활성화된 페이지 스타일 */
   .pagination .disabled .page-link {
      color: var(--background-color) !important;
      background-color: var(--background-color) !important;
   }
