/*!
 * 
 *         SimpleBar.js - v2.6.1
 *         Scrollbars, simpler.
 *         https://grsmto.github.io/simplebar/
 *         
 *         Made by Adrien Grsmto from a fork by Jonathan Nicol
 *         Under MIT License
 *       
 */
[data-simplebar] {
    position: relative;
    z-index: 0;
    overflow: hidden!important;
    max-height: inherit;
    -webkit-overflow-scrolling: touch; /* Trigger native scrolling for mobile, if not supported, plugin is used. */
}

[data-simplebar="init"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.simplebar-scroll-content {
    overflow-x: hidden!important;
    overflow-y: scroll;
    min-width: 100%!important;
    max-height: inherit!important;
    -webkit-box-sizing: content-box!important;
            box-sizing: content-box!important;
}

.simplebar-content {
    overflow-y: hidden!important;
    overflow-x: scroll;
    -webkit-box-sizing: border-box!important;
            box-sizing: border-box!important;
    min-height: 100%!important;
}

.simplebar-track {
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 11px;
}

.simplebar-scrollbar {
    position: absolute;
    right: 2px;
    width: 7px;
    min-height: 10px;
}

.simplebar-scrollbar:before {
    position: absolute;
    content: "";
    background: black;
    border-radius: 7px;
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

.simplebar-track:hover .simplebar-scrollbar:before,
.simplebar-track .simplebar-scrollbar.visible:before {
    /* When hovered, remove all transitions from drag handle */
    opacity: 0.0;
    -webkit-transition: opacity 0.0 linear;
    transition: opacity 0.0 linear;
}

.simplebar-track.vertical {
    top: 0;
}

.simplebar-track.vertical .simplebar-scrollbar:before {
    top: 2px;
    bottom: 2px;
}

.simplebar-track.horizontal {
    left: 0;
    width: auto;
    height: 11px;
}

.simplebar-track.horizontal .simplebar-scrollbar:before {
    height: 100%;
    left: 2px;
    right: 2px;
}

.horizontal.simplebar-track .simplebar-scrollbar {
    right: auto;
    top: 2px;
    height: 7px;
    min-height: 0;
    min-width: 10px;
    width: auto;
}

/* 알림 메시지 css */
.notification {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: #FFF5E2;
	color: #30005A;
	padding: 7px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	z-index: 1000;
	display: none; /* 초기 상태는 숨김 */
	width: 250px; /* 고정 너비 */
	height: 100px; /* 고정 높이 */
	overflow: hidden; /* 넘치는 내용 숨김 */
	text-overflow: ellipsis; /* 초과 부분을 ...으로 표시 */
	white-space: nowrap; /* 한 줄로 제한 */
}

.notification.show {
	display: block; /* 표시 */
	animation: fadeInOut 5s ease-in-out; /* 5초간 표시 후 사라짐 */
}

@
keyframes fadeInOut { 0% {
	opacity: 0;
	transform: translateY(10px);
}

10
%
{
opacity
:
1;
transform
:
translateY(
0
);
}
90
%
{
opacity
:
1;
transform
:
translateY(
0
);
}
100
%
{
opacity
:
0;
transform
:
translateY(
10px
);
}
}
.notification-profile {
	background-color: #FFFBF2;
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 7px;
	border-radius: 5px;
	width: 235px;
	height: 80px;
	gap: 10px;
}

.notifi-profile {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	color: #30005A;
}

.notification-profile .custom-image {
	width: 45px !important;
	height: 45px !important;
}

/* 드롭 다운 css */
.dropdown {
	position: relative; /* 드롭다운과 아이콘을 연결 */
}

.dropdown-menu-custom {
	display: none;
	position: absolute;
	top: 100%; /* 아이콘 바로 아래에 위치 */
	left: -140px;
	background-color: #30005A;
	border: 1px solid #ddd;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	z-index: 1000;
	min-width: 180px;
}

.dropdown-menu-custom.show {
	display: block;
}

.dropdown-item {
	padding: 7px;
	cursor: pointer;
	white-space: nowrap;
}

.newMessageIndicator {
	background-color: #E9396B;
	border-radius: 50%;
	width: 20px;
	text-align: center;
	display: none;
	position: absolute;
	top: 7px;
	left: 111px;
}

.unread-message-count {
	color: #FFF5E2;
}

#newMessageIndicator3, #alarmIndicator {
	background-color: #E9396B;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	display: none;
	position: absolute;
	top: 5px;
	left: 27px;
}
.dropdown-menu-custom.alarmDropdown {
    left: -176px;
}
.dropdown-menu-custom.myPageDropdown {
    left: -84px;
    min-width: 146px;
}
.alarmDropdown .notifi-profile {
    width: 100%; /* 부모 div 크기에 맞게 조정 */
    word-wrap: break-word; /* 긴 단어를 줄바꿈 */
    word-break: break-word; /* 단어가 길 경우 강제로 줄바꿈 */
    white-space: normal; /* 텍스트를 정상적으로 줄바꿈 */
    overflow-wrap: break-word; /* 내용이 부모 크기를 넘지 않게 */
}
.myPageDropdown span{
	color: #FFFBF2;
	text-align: center;
}
.myPageDropdown > div:hover{
	background-color: #8B6AA7;
}
