@charset "UTF-8";

    :root {
      --primary-color: #30005A;
      --secondary-color: #8B6AA7;
      --accent-color: #E9396B;
      --light-color: #F9F6F1;
    }

    body {
      font-family: 'Arial', sans-serif;
      background-color: #fff;
      color: var(--primary-color);
      margin: 0;
      padding: 0;
    }

    .body {
      width: 83%;
      margin-top: 110px;
      margin-left: 320px;
    }

	body .body {
	    transform: scale(0.55);
	    transform-origin: top left; /* 화면의 왼쪽 상단을 기준으로 축소 */
	    width: 150%; /* 축소에 따른 여백 보정 */
	    overflow: hidden; /* 스크롤바 제거 */
	    position: absolute;
	    top: 1px;
	    left: -37px;
	    height: 187%;
	  }
    .naviPath {
      font-size: 48px;
      font-weight: bold;
      margin-bottom: 20px;
      color: var(--primary-color);
    }

    .naviPath span {
      color: var(--secondary-color);
    }

    .content {
      height: 40%;
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
    }

    .left-panel, .right-panel {
      width: 48%;
      border: 2px solid var(--primary-color);
      border-radius: 10px;
      background-color: var(--light-color);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
      overflow: hidden;
    }

    .tab-section {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
      border-bottom: 2px solid var(--primary-color);
      margin-bottom: 20px;
    }

    .tabs {
      display: flex;
      padding: 0;
      margin: 0;
    }

    .tabs li {
      list-style: none;
      font-weight: bold;
      font-size: 18px;
      padding: 10px 20px;
      cursor: pointer;
      color: var(--secondary-color);
      border-bottom: 3px solid transparent;
      transition: all 0.3s;
    }

    .tabs li.active {
      color: var(--primary-color);
      border-bottom: 3px solid var(--accent-color);
    }

    .tab-content {
      margin-top: 20px;
    }
    
    
    .tab-content .tab {
	  display: none;
	}
	
	.tab-content .tab.active {
	  display: block;
	}
	    
    

    .form-group {
      margin-bottom: 15px;
    }

    .form-group label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    .form-group input, .form-group select {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border: 1px solid var(--primary-color);
      border-radius: 5px;
      box-sizing: border-box;
    }

	

    button.normalBtn {
      background-color: var(--accent-color);
      color: #fff;
      font-weight: bold;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    button.normalBtn:hover {
      background-color: #FF527D; /* accent-color hover */
    }
    

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    table th, table td {
      padding: 15px;
      text-align: left;
      border: 1px solid var(--primary-color);
    }

	table th {
	  background-color: var(--primary-color); 
	  color: #fff;
	}
	
	.table-container {
	  max-height: 75%; /* 테이블 컨테이너의 최대 높이를 설정 */
	  overflow-y: auto; /* 세로 스크롤바를 자동으로 표시 */
	}
	

    .bottom-section {
      height: 40%;
      overflow: hidden;
      margin-top: 30px;
      padding: 20px;
      border: 2px solid var(--primary-color);
      border-radius: 10px;
      background-color: var(--light-color);
    }
    
    label{
    	color: var(--primary-color) !important;
    }
    
    tr a{
    	font-weight: bold;
    	text-decoration: underline;
    }
    
    /* 모달 창 스타일 */
	.modal {
	  display: none; /* 기본적으로 숨김 */
	  justify-content: center; /* 가로 중앙 정렬 */
	  align-items: center; /* 세로 중앙 정렬 */
	  position: fixed; /* 고정 위치 */
	  top: 0;
	  left: 0;
	  width: 100%; /* 화면 전체 너비 */
	  height: 100%; /* 화면 전체 높이 */
	  background-color: rgba(0, 0, 0, 0.4); /* 반투명 배경 */
	  z-index: 9999; /* 다른 요소 위에 표시 */
	}
	
	.modal-container {
	  background-color: #FFF5E2; /* 베이지색 */
	  border-radius: 10px;
	  padding: 20px;
	  width: 400px; /* 모달 너비 */
	  text-align: center;
	  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	  position: relative; /* 내부 요소의 상대 위치 */
	  top: 50%; /* 세로 중앙 정렬 */
	  left: 50%; /* 가로 중앙 정렬 */
	  transform: translate(-50%, -50%); /* 중앙으로 이동 */
	}
	
	
	.modal-header {
	  background-color: var(--primary-color);
	  color: white;
	  font-size: 20px;
	  font-weight: bold;
	  padding: 10px;
	  text-align: center;
	  border-radius: 10px 10px 0 0;
	}
	
	.modal-body {
	  margin: 15px 0;
	}
	
	.input-field {
	  width: 100%;
	  padding: 10px;
	  margin-top: 5px;
	  font-size: 14px;
	  border: 1px solid var(--primary-color);
	  border-radius: 5px;
	}
	
	.modal-footer {
	  display: flex;
	  justify-content: space-between;
	}
	
	.btn-confirm {
	  background-color: var(--primary-color);
	  color: #fff;
	  padding: 10px 20px;
	  border: none;
	  border-radius: 5px;
	  cursor: pointer;
	}
	
	.btn-cancel {
	  background-color: var(--accent-color);
	  color: #fff;
	  padding: 10px 20px;
	  border: none;
	  border-radius: 5px;
	  cursor: pointer;
	}
	
	.btn-confirm:hover {
	  background-color: #4A0073;
	}
	
	.btn-cancel:hover {
	  background-color: #FF527D;
	}
	
	.input-field::placeholder {
	  color: #aaa !important; /* placeholder 텍스트 색상 */
	  font-style: italic !important; /* 기울임 효과 */
	  opacity: 1 !important; /* 투명도 */
	}
	
	table tr.selected-page {
	  background-color: var(--secondary-color); 
	  opacity: 1; /* 선택 항목 선명도 */
	  color: #fff;
	}
	
	/* 검색 및 필터 디자인 */
	.searchbox {
	  display: flex;
	  align-items: center;
	  gap: 10px;
	  margin-bottom: 15px;
	}
	
	.search {
	  position: relative;
	  flex-grow: 1; /* 검색창이 가능한 넓게 확장 */
	}
	
	#searchInput{
		width: 100%;
	}
	
	.search input {
	  border-radius: 10px;
	  padding: 0 10px;
	  border: 2px solid var(--primary-color);
	  height: 42px;
	  font-size: 16px;
	  font-weight: bold;
	  line-height: 42px;
	  box-sizing: border-box;
	}
	
	.search i {
	  position: absolute;
	  right: 15px;
	  top: 50%;
	  transform: translateY(-50%);
	  font-size: 18px;
	  pointer-events: all; 
	  color: var(--accent-color);
	  cursor: pointer; /* 클릭 가능 표시 */
	}
	
	select {
	  font-size: 16px;
	  font-weight: bold;
	  padding: 0 10px;
	  border: 2px solid var(--primary-color);
	  border-radius: 10px;
	  background-color: #fff !important; /* 흰색 배경 */
	  color: var(--primary-color) !important; /* 텍스트 색상 */
	  height: 42px;
	  line-height: 42px;
	  cursor: pointer;
	}
	
	select option {
	  background-color: #fff !important; /* 옵션 배경 흰색 */
	  color: var(--primary-color) !important; /* 옵션 텍스트 색상 */
	  font-size: 10px !important;
	}
	
	/* 버튼 */
	button.btn-add-page {
	  background-color: var(--accent-color);
	  color: #fff;
	  font-weight: bold;
	  padding: 10px 20px;
	  border: none;
	  border-radius: 5px;
	  cursor: pointer;
	  transition: background-color 0.3s;
	  margin-left: auto; /* 우측으로 정렬 */
	}
	
	button.btn-add-page:hover {
	  background-color: #FF527D;
	}
	
	.pageName{
		margin: 10px 0;
	}    
	
	.selectOption{
		width: auto !important;
	}
	
	.smallTxt{
		font-size: 18px;
	}
	
	.lPurple{
		color: var(--secondary-color); 
	}