<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.best.alarm.AlarmDAO">

	<insert id="insertAlarm" parameterType="com.best.alarm.AlarmDTO">
    	INSERT INTO alarm (emp_idx, type, content, date)
    	VALUES (#{emp_idx}, #{type}, #{content}, #{date})
	</insert>
	
	<select id="alarmList" parameterType="map" resultType="com.best.alarm.AlarmDTO">
    	SELECT * 
    	FROM alarm
    	WHERE emp_idx = #{emp_idx}
    	<if test="type != null and type != ''">
        	AND type = #{type}
    	</if>
    	<if test="flag != null and flag !=''">
        	AND flag = #{flag}
    	</if>
    	ORDER BY date DESC
	</select>
	
	
	<select id="getApproverDetails" resultType="map">
    SELECT 
        d.emp_idx AS writerEmpIdx,
        MAX(CASE WHEN a.approv_order = 1 THEN a.emp_idx ELSE NULL END) AS firstApproverEmpIdx,
        MAX(CASE WHEN a.approv_order = 2 THEN a.emp_idx ELSE NULL END) AS secondApproverEmpIdx
    FROM document d
    LEFT JOIN approv a ON d.doc_idx = a.doc_idx
    WHERE d.doc_idx = #{docIdx}
</select>


</mapper>  