<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.best.board.BoardDAO">
	
	<!-- 공지 토탈 페이지 -->
	<select id="allCount" resultType="int">
		SELECT CEIL(COUNT(board_idx) / #{cnt}) AS pages 
	    FROM board
	    WHERE importance = #{importance} AND board_category = 1
	</select>
	<!-- 공지 리스트 -->
	<select id="noticeList" resultType="map">
	    SELECT board_idx, subject, name, date, bhit FROM board
	    WHERE importance = #{importance} AND board_category = 1
	    ORDER BY date DESC, board_idx DESC
	    LIMIT #{limit} OFFSET #{offset}
	</select>
	
	
	<!-- 공지 작성 -->
	<insert id="noticeWrite" 
    useGeneratedKeys="true"
    keyColumn="board_idx"
    keyProperty="board_idx"
    parameterType="com.best.board.BoardDTO">
	    INSERT INTO board(board_category, subject, content, emp_idx, name, importance)
	    VALUES(1, #{subject}, #{content}, #{emp_idx}, #{name}, #{importance})
	</insert>
		
	
	<!-- 공지 상세보기 -->
	<select id="noticeDetail" resultType="map">
		SELECT * FROM board WHERE board_idx = #{param1}
	</select>
	
	
	<!-- 공지 수정 -->
	<update id="noticeUpdate" parameterType="map">
	    UPDATE board SET subject = #{subject}, content = #{content}, importance = #{importance}, `date` = NOW() 
	    WHERE board_idx = #{board_idx}
	</update>
		
	
	<!-- 검색 토탈 페이지 -->
	<select id="searchCount" resultType="int">
		SELECT CEIL(COUNT(board_idx) / #{cnt}) AS pages 
	    FROM board
	    WHERE importance = #{importance}
	    AND ${searchOption} LIKE CONCAT('%', #{searchText}, '%')
	</select>
	<!-- 검색 리스트 -->
	<select id="noticeSearch" resultType="com.best.board.BoardDTO">
	    SELECT board_idx, subject, name, date, bhit FROM board
	    WHERE importance = #{importance}
	    AND ${searchOption} LIKE CONCAT('%', #{searchText}, '%')
	    ORDER BY date DESC, board_idx DESC
	    LIMIT #{limit} OFFSET #{offset}
	</select>
	
	

	<!-- 자유 게시판 토탈 페이지 -->
	<select id="freeBoardCount" resultType="int">
		SELECT CEIL(COUNT(board_idx) / #{cnt}) AS pages 
	    FROM board
	    WHERE board_category = 2
	</select>
	<!-- 자유 게시판 리스트 -->
	<select id="freeBoardList" resultType="map">
	    SELECT board_idx, subject, name, date, bhit FROM board
	    WHERE board_category = 2
	    ORDER BY date DESC, board_idx DESC
	    LIMIT #{cnt} OFFSET #{offset}
	</select>
	
	
	<!-- 자유 게시판 상세보기 -->
	<select id="freeDetail" resultType="map">
		SELECT * FROM board WHERE board_idx = #{param1}
	</select>
	
	
	<!-- 자유 게시판 수정하기 -->
	<update id="freeUpdate" parameterType="map">
	    UPDATE board SET subject = #{subject}, content = #{content},`date` = NOW() 
	    WHERE board_idx = #{board_idx}
	</update>
	
	
	<!-- 자유 게시판 댓글 토탈 페이지 -->
	<select id="commentCount" resultType="int">
		SELECT CEIL(COUNT(comment_idx) / #{cnt}) AS pages 
		FROM comment
		WHERE board_idx = #{board_idx} AND parent_idx IS NULL
	</select>
	<!-- 자유 게시판 댓글 리스트 -->
	<select id="commentList" resultType="map">
	    SELECT comment_idx, content, emp_idx, emp_name, com_date
		FROM comment
		WHERE board_idx = #{board_idx} AND parent_idx IS NULL
		ORDER BY com_date DESC
	    LIMIT #{cnt} OFFSET #{offset}
	</select>
	
	
	<!-- 자유 게시판 댓글 작성 -->
	<insert id="addComment" parameterType="com.best.board.CommentDTO">
	    INSERT INTO comment (board_idx, content, emp_idx, emp_name)
	    VALUES(#{board_idx}, #{content}, #{emp_idx}, #{emp_name})
	</insert>
	
</mapper>  