<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.best.document.DocumentDAO">
    
    <!-- 양식 불러오기 -->
    <select id="getForm" resultType="String">
        SELECT form_content FROM form WHERE form_subject = #{form_subject}
    </select>
    
    <!-- 결재 기안, 임시저장 -->
    <insert id="formSave" parameterType="com.best.document.DocumentDTO">
    	INSERT INTO document(form_idx, doc_subject, doc_content, emp_idx, status)
    		VALUES(#{form_idx}, #{doc_subject}, #{doc_content}, #{emp_idx}, #{status})
    </insert>
    
    <!-- 임시저장 토탈 페이지 -->
	<select id="allCount" resultType="int">
		SELECT CEIL(COUNT(doc_idx) / #{cnt}) AS pages FROM document
	</select>
	<!-- 임시저장 리스트 -->
	<select id="saveList" resultType="map">
    	SELECT 
	        doc_idx, 
	        doc_subject, 
	        emp_idx, 
	        date, 
	        status
	    FROM document
	    WHERE emp_idx = 1
	    ORDER BY date DESC
	    LIMIT #{limit} OFFSET #{offset}
	</select>
	
	<!-- 임시저장 상세보기 -->
	<select id="draftDetail" resultType="String">
		SELECT doc_content FROM document WHERE doc_idx = #{doc_idx}
	</select>
	
	<!-- 임시저장 삭제 -->
	<delete id="draftDelete">
		DELETE FROM document where doc_idx = #{doc_idx}
	</delete>
</mapper>  